@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, 'sans-serif';
}

.header,
.footer {
    display: flex;

}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.left-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}

/* content-one body*/

.content-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 20px 250px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.left-box,
.right-box {
    display: flex;
    align-items: center;

}

.left-box {
    flex-direction: column;
    /* border: 2px solid salmon; */
    flex-basis: 500px;
    gap: 8px;
}

.right-box {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    /* border: 2px solid salmon; */
    height: 300px;
    width: 300px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}

.sign-up {
    display: flex;
    font-size: 18px;
    margin-right: auto;
    padding: 2px 16px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: #e5e7eb;
    border-radius: 8px;
}


/* content two */

.content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-one {
    display: flex;
    margin-top: 32px ;
    margin-bottom: 32px;

    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;


}

.container-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    justify-content: center;

    /* border: 1px solid red;   */

    margin-bottom: 75px;
}


img {
    width: 200px;
    height: 200px;
}

.info {
    display: flex;

    align-items: center;
    flex-direction: column;

    /* border: 1px solid salmon; */
    max-width: 200px;

    text-align: center;
}


/* quote sections(content three) */

.content-three {
    display: flex;
    max-width: 100%;
    padding: 100px 200PX;
    justify-content: center;
    align-items: center;

    font-size: 36px;

    background-color:#E5E7EB;
    color: #1F2937;
}

.text-quote {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    gap:5px;
}

.name {
    font-size: 18px;
    display: flex;
    margin: auto 10px auto auto ;
   
}

/* content four */

.content-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 300px;
}

.container-three {
    display: flex;
    background-color: #3882F6;
    height: 150px;
    width: 1100px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;

}

.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-text {
    font-size: 24px;
    color: white;
}

.box-subtext {
    color: #E5E7EB;
}

.sign-two {
    display: flex;
    padding:  0px 20px;
    align-items: center;
    text-align: center;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius:8px;
    height: 35px;
    font-size: 16px;
}

/* footer */

.footer{
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    color: #E5E7EB;
    font: 18px;
    padding: 50px;
}


/* ---------------------------------------------------------------- */

/* debugging area */

/*.content-two {
    border: 3px solid green;    
}
.content-three {
    border: 3px solid red;    
}

.content-four {
    border: 3px solid orange;    
} */